html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub,
sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
nav ul li{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input, select{vertical-align:middle;padding-left:15px;padding-right:15px;outline:0;}
button{cursor:pointer;}
textarea{resize:vertical;padding:15px;}
textarea:focus, input:focus{outline:0;}
p, h1, h2, h3, h4, h5, h6, li, .ft-cap{line-height:24px;font-weight:normal;}
p{text-align:justify;}
img, iframe{max-width:100%;}
a:hover, a:focus{text-decoration:none;}
@font-face{font-family:"OpenSans";src:url("../fonts/OpenSans-Regular.ttf");font-style:normal;font-weight:normal;}
@font-face{font-family:"OpenSans";src:url("../fonts/OpenSans-Light.ttf");font-style:normal;font-weight:300;}
@font-face{font-family:"OpenSans";src:url("../fonts/OpenSans-Semibold.ttf");font-style:normal;font-weight:600;}
@font-face{font-family:"OpenSans";src:url("../fonts/OpenSans-Bold.ttf");font-style:normal;font-weight:700;}
body{line-height:1;font-family:'OpenSans', sans-serif;font-size:15px;color:#262626;}
.light{font-weight:300;}
.sbold{font-weight:600;}
.bold{font-weight:700;}
.italic{font-style:italic;}
.s12{font-size:12px;}
.s14{font-size:14px;}
.s16{font-size:16px;}
.s18{font-size:18px;}
.s20{font-size:20px;}
.s24{font-size:24px;line-height:1.2;}
.s36{font-size:36px;line-height:1;}
.s100{font-size:100px;line-height:1.1;}
a{color:#262626;}
a:hover{color:#711112;}
.t1, .t1 a{color:#707070;}
.t2, .pt-content, .t2 a{color:#363636;}
.b1{background:#262626;}
@media (min-width:1200px){.container{max-width:1180px}
.container-flush{width:100%;}
}
.row>div[class*="col"],
.container{padding-left:10px;padding-right:10px}
.row{margin-left:-10px;margin-right:-10px}
.row.no-gutters{margin-right:0;margin-left:0}
.row.no-gutters>.col,
.row.no-gutters>[class*=col-]{padding-right:0;padding-left:0}
.bread-wrap{padding:40px 0;}
@media (min-width:992px){.pl-95{padding-left:95px;}
.bread-wrap{padding:140px 0;}
}
.bread-tit{position:relative;}
@media (min-width:992px){.bread-tit:before{position:absolute;content:'';display:inline-block;width:74px;height:1px;background:#fff;top:-25px;left:-100px;}
}
.bread{padding:15px 0;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;flex-wrap:wrap;}
.bread li:not(:last-child):after{content:"/";display:inline-block;padding:0 5px;color:#cbcbcb;}
.bread li a, .bread{color:#b7b7b7;}
.pagi{margin-top:15px;padding:35px 10px 60px;border-top:2px solid #ccc;}
.pagi li{width:30px;line-height:30px;text-align:center;display:inline-block;border-radius:5px;margin:0 3px;border:1px solid #ccc;}
.pagi li:last-child, .pagi li:first-child{width:78px;}
.pagi li a{color:#333;display:block;}
.pagi li.active a, .pagi li:hover a{color:#84be59;}
.trans, .btn, .menu-wrap .menu > li > ul, img,:after,:after, .cmenu .menu-wrap .menu > li,
.nt-info, .nt-item:hover .nt-info .stit, .blog-img:before, .blog-img, .contact-btn:hover:before{transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;}
.logo{height:40px;}
.top{background:#fff;box-shadow:2px 0 16px rgba(0,0,0,.11);}
.cmenu{box-shadow:0 1px 3px rgba(0, 0, 0, .12);background:#fff;}
@media (min-width:1200px){.cmenu .menu-r{padding-bottom:0;}
.cmenu .menu-r-top{margin:6px 0;}
.top-wrapmenu{font-size:13px;}
.cate-wrap{cursor:pointer;}
.menu{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;width:100%;align-items:center;}
.menu-wrap .menu > li{list-style:none;padding:32px 22px;position:relative;}
.cmenu .menu-wrap .menu > li{padding:20px 18px;}
.menu-wrap .menu > li{position:relative;}
.menu-wrap .menu > li > a{position:relative;}
.menu-wrap .menu > li > a:after{content:"";display:block;width:0;height:3px;background:#711112;position:absolute;bottom:-32px;left:0;}
.cmenu .menu-wrap .menu > li > a:after{bottom:-20px;}
.menu-wrap .menu > li:hover > a:after{width:100%;}
.menu-wrap .menu > li > ul{position:absolute;top:100%;left:0;background:#000;transform:translateY(1em);visibility:hidden;min-width:247px;font-size:12px;font-weight:300;}
.menu-wrap .menu > li > ul li{border-bottom:1px solid #636363;}
.menu-wrap .menu > li > ul li a{white-space:nowrap;display:block;color:#b7b7b7;padding:10px 24px;}
.menu-wrap .menu > li > ul li:hover{background:#711112;}
.menu-wrap .menu > li > ul li:hover a{color:#fff;}
.menu-wrap .menu > li:hover > ul{visibility:visible;transform:translateY(0);left:22px;}
.cmenu .menu-wrap .menu > li:hover > ul{left:18px;}
.menu-wrap .menu > li:hover > a{color:#711112;}
.menu-wrap .menu > li > a{padding:0;display:block;color:#262626;}
main{padding-top:88px;}
}
#nav-icon{width:35px;height:30px;display:block;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;display:block;}
#nav-icon span{display:block;position:absolute;height:2px;width:74%;background:#333;border-radius:0;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out;margin:4px;}
#nav-icon span:nth-child(1){top:0;-webkit-transform-origin:left center;-moz-transform-origin:left center;-o-transform-origin:left center;transform-origin:left center;}
#nav-icon span:nth-child(2){top:10px;-webkit-transform-origin:left center;-moz-transform-origin:left center;-o-transform-origin:left center;transform-origin:left center;}
#nav-icon span:nth-child(3){top:20px;-webkit-transform-origin:left center;-moz-transform-origin:left center;-o-transform-origin:left center;transform-origin:left center;}
.mm-opening #nav-icon span:nth-child(1){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);top:1px;left:5px;}
.mm-opening #nav-icon span:nth-child(2){width:0%;opacity:0;}
.mm-opening #nav-icon span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);top:20px;left:5px;}
.search-frm{padding:0 15px;}
.search-ip, .search-btn{border:1px solid #a7a7a7;background:#fff;}
.search-ip{height:41px;border-radius:4px 0 0 4px;border-right:0;border-radius:40px 0 0 40px;border-right:0;}
.search-btn{border-radius:0 40px 40px 0;height:41px;border-left:0;}
.search-ip.form-control:focus{box-shadow:none;border-color:#a7a7a7;}
.slider-area{position:relative;z-index:1;}
.nivo-caption{background:transparent;padding:0;}
.nivo-controlNav{text-align:center;padding:15px 0;position:absolute;width:100%;bottom:10px;z-index:10;}
.nivo-control{width:12px;height:12px;display:inline-block;background:#fff;border-radius:50%;margin:0px 10px;position:relative;font-size:0;}
.nivo-control.active:after{content:'';display:inline-block;width:20px;height:20px;border:1px solid #fff;border-radius:50%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.nt{padding:35px 0px 55px;}
.nt .tit{padding-bottom:70px;}
.nt-item{position:relative;overflow:hidden;}
.nt-info{position:absolute;background:rgba(0,0,0,.35);top:50%;left:50%;height:0;width:0;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:center;flex-direction:column;pointer-events:none;transform:translate(-50%, -50%);opacity:0;}
.nt-info img, .nt-info .stit{opacity:0;}
.nt-item:hover .nt-info{opacity:1;height:100%;width:100%;}
.nt-item:hover .nt-info img{opacity:1;transform:rotate(45deg);transition-delay:.4s;}
.nt-item:hover .nt-info .stit{transition-delay:.5s;opacity:1;padding-top:35px;}
.nt-item:hover .nt-img img{transform:scale(1.1);}
.nt-info a{color:#fff;}
.nt-info .stit{padding-top:65px;}
.nt-wrap .row > div[class*='col']{margin-bottom:20px;}
.why{padding:40px 0px 90px;}
@media (min-width:992px){.w-lg-50{width:50%;display:block;margin:auto;}
}
.why-item img{width:120px;height:120px;border-radius:50%;border:1px solid #fff;object-fit:none;margin:25px 0;}
.blog{padding:30px 0px 130px;}
.blog .tit{padding-bottom:30px;}
.blog-slider{padding-top:40px;}
.blog-item{margin:0 5px;}
.blog-info h3{padding:15px 0px 20px;}
@media (min-width:768px){.blog-item{margin-right:20px;}
}
.blog-img{position:relative;}
.blog-img:before{content:'';display:inline-block;border:10px solid transparent;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;}
.blog-item:hover .blog-img{box-shadow:0 0 10px rgba(0,0,0,.2);}
.blog-item:hover .blog-img:before{border-color:rgba(255,255,255,.5);box-shadow:inset 0 0 10px rgba(0,0,0,.31);}
.blog-item:hover a{color:#711112;}
.ft-1{padding:55px 0px 35px;}
.ft-add .svg-inline--fa{width:14px;margin-right:15px;}
.ft-1, .ft-1 a{color:#b7b7b7;}
.ft-cap{padding:40px 0px 15px;}
.ft-add li{padding-bottom:10px;}
.ft-add svg{color:#fff;}
.ft-social a{color:#e1e1e1;}
.ft-last, .ft-last a{color:#707070;}
.ft-social li{display:inline-block;border:1px solid #898989;border-radius:50%;width:45px;line-height:43px;text-align:center;margin:0px 7px;}
.ft-frm{margin-top:80px;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;}
.ft-frm input{height:40px;background:transparent;border:0;border-bottom:1px solid #707070;font-size:14px;font-weight:300;padding:0;width:100%;color:#b7b7b7;}
.ft-frm button{background:transparent;font-weight:600;font-size:14px;color:#b7b7b7;}
.ft-frm input::placeholder{color:#b7b7b7;}
.ft-frm input:-ms-input-placeholder{color:#b7b7b7;}
.ft-frm input::-ms-input-placeholder{color:#b7b7b7;}
.ft-last{padding:22px 0;border-top:1px solid #707070;}
.about-content{padding:30px 0px 50px;}
.about-content p{line-height:30px;padding-bottom:5px;}
.about-content img{margin:20px auto 15px;}
@media (min-width:768px){.about-content img{margin:50px auto 45px;}
.about-content{padding:50px 0px 80px;}
}
.da-tabs{border-bottom:1px solid #b7b7b7;}
.da-tabs{-webkit-flex-wrap:nowrap;flex-wrap:nowrap;width:100%;overflow:auto;justify-content:flex-start;}
.da-tabs .nav-link{white-space:nowrap;width: max-content;width: -webkit-max-content;}
.da-tabs::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#F5F5F5;}
.da-tabs::-webkit-scrollbar{width:4px;background-color:#F5F5F5;}
.da-tabs::-webkit-scrollbar-thumb{background-color:#000000;}
.da-tabs::-webkit-scrollbar{-webkit-appearance:none;}
.da-tabs::-webkit-scrollbar:horizontal{height:6.5px;}
.da-tabs::-webkit-scrollbar-thumb{border:0px solid white;background-color:#b7b7b7;}
.da-tabs::-webkit-scrollbar-track{background-color:#fff;}
@media (min-width:1200px){.da-tabs .nav-link{padding:15px 50px;}
}
.da-tabs .nav-link{border-radius:0;color:#363636;border:1px solid #b7b7b7;border-width:1px;}
.da-tabs .nav-link.active{background:#414142;color:#fff;}
.da-tabs-content{padding:54px 0 50px;}
.da-item-img{position:relative;}
.da-item-img:after{content:url(../images/line.png);position:absolute;width:100%;height:100%;background:rgba(0,0,0,.4);display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:center;top:0;left:0;pointer-events:none;border:10px solid transparent;opacity:0;}
.da-item:hover .da-item-img:after{border-color:rgba(255,255,255,1);box-shadow:0 0 15px rgba(0,0,0,.3);opacity:1;}
.da-item:hover .da-item-tit a{color:#711112;}
.da-tabs-row > div[class*='col']{margin-bottom:35px;}
.da-detail-content{padding:25px 0 75px;}
@media (min-width:1200px){.mt-150px{margin-top:-150px;}
.da-detail-content{padding:25px 50px 75px;}
}
.da-detail-header, .kt-detail-header{border-bottom:1px solid #e1e1e1;}
.da-detail-header{padding:10px 0px 35px;}
.da-detail-body{padding:40px 0 65px;}
.da-detail-gal > .row > div[class*="col"]{margin-bottom:20px;}
.da-gal-item{position:relative;}
.da-gal-item:hover .all-btn{opacity:1;top:50%;}
.da-gal-item:hover img{opacity:.7;filter:grayscale(.5);}
.da-gal-item .all-btn{position:absolute;top:0;left:50%;transform:translate(-50%, -50%);opacity:0;box-shadow:0 0 30px rgba(0,0,0,.5);}
.all-btn{background:#fff;color:#262626;font-size:14px;padding:15px 55px;border-radius:0;border:1px solid #ccc;}
.all-btn:hover{background:#711112;color:#fff;}
.da-detail-re{text-decoration:underline;padding:25px 0;}
.da-detail-cm{padding-top:30px;}
.da-detail-re-list li{padding-bottom:15px;}
.da-detail-re-list li:before{content:"\f45c";display:inline-block;color:#0054a6;font-family:"Font Awesome 5 Free";font-weight:700;margin-right:20px;font-size:8px;vertical-align:bottom;}
.da-detail-re-list a{color:#0054a6;}
.da-detail-like{padding-bottom:20px;}
.kt-tabs-content{padding:36px 0 70px;}
.kt-tabs-row > div[class*="col"]{margin-bottom:75px;}
@media (min-width:576px){.kt-content{height:63px;overflow:hidden;}
}
.kt-content{padding-top:5px;}
.kt-content p{line-height:30px;}
.kt-link{padding:20px 0 0px;}
.kt-detail-header{padding:10px 0 25px;}
.kt-detail-body{padding-top:40px;color:#464646;}
.kt-detail-body img{margin-bottom:15px;}
.kt-detail-body p{line-height:30px;padding-bottom:30px;}
.kt-item:hover .da-item-img:after{opacity:1;border-color:#fff;box-shadow:0 0 10px rgba(0,0,0,.3);}
.kt-item:hover .kt-item-info a, .da-detail-re-list a:hover{color:#711112;}
.contact-tit{padding:40px 0;}
.contact-frm{padding-bottom:55px;}
.contact-btn{background:#363636;color:#fff;padding:15px 80px;border-radius:0;position:relative;overflow:hidden;}
.contact-btn:hover{background:#711112;transform:translateY(2px);box-shadow:0 0 20px rgba(0,0,0,.3);}
.contact-frm input{height:50px;border:1px solid #b7b7b7;}
.contact-frm input::placeholder{color:#707070;}
.contact-frm input:-ms-input-placeholder{color:#707070;}
.contact-frm input::-ms-input-placeholder{color:#707070;}
.contact-frm input, .contact-frm textarea{margin-bottom:20px;}
.cmaps{padding-bottom:50px;}
.cmaps iframe{width:100%;height:500px;}
.pt-wrap{padding:40px 0 24px;}
.pt-item{padding-bottom:34px;}
.pt-wrap-row > div[class*='col']{margin-bottom:30px;}
.pt-item:after{content:'';display:inline-block;position:absolute;width:0;height:7px;background:#e3e3e3;bottom:0;left:10px;}
.pt-item:hover:after{width:calc(100% - 20px);background:#711112;}
.pt-item:hover .pt-content-tit a{color:#711112;}
.pt-img{overflow:hidden;}
.pt-item:hover .pt-img img{transform:scale(1.1);}
@media (max-width:1199px){#menu{display:none;}
.top{padding:5px 0;}
main{padding-top:50px;background:#fff;}
.da-tabs .nav-link{border-bottom-width:1px;margin-bottom:10px;}
.da-tabs .nav-link.active{background:#711112;}
}
@media (max-width:991px){}
@media (max-width:767px){.logo{height:30px;}
.blog{padding-bottom:50px;}
.nt .tit{padding-bottom:30px;}
.s36{font-size:25px;}
.s24{font-size:18px;line-height:1.4;}
.ft-frm{margin-top:40px;}
.da-detail-header{padding-bottom:15px;}
.da-detail-body{padding-top:15px;}
.da-gal-item .all-btn{opacity:1;top:50%;}
}
@media (max-width:575px){}
@media (max-width:375px){}
@media (max-width:320px){}